﻿h1, h2, h3, h4, h5, h6 { color:#000000; }

hr, .hr { border-color: #E9E9E9;}

/* Text */
a:link {color:#0E3FB8;}
a:visited {color:#0E3FB8;}
a:hover {color:#c90000;}
a:active {color:#0E3FB8;}

/* Layout */
body { background-color: white; }

/*#top-menu { background: #1A377F	url(images/top-menu-corners.gif) no-repeat left top; }*/
/*#top-menu-inner { background: url(images/top-menu-corners.gif) no-repeat right bottom; }*/

a.home-icon { background: url(images/icons-sprite.gif) no-repeat 0 0; }
a.search-icon { background: url(images/icons-sprite.gif) no-repeat 0 -15px; }
a.feedback-icon { background: url(images/icons-sprite.gif) no-repeat 0 -29px; }

#banner-overlay { background: url(images/overlay.png) no-repeat; }
#banner-slogan { color: #1A377F; background: url(images/overlay.png) no-repeat right top;}

div.content-block { background: #F7F5EC url(images/sidebar-corners.gif) no-repeat left top; }
div.content-block-inner { background: url(images/sidebar-corners.gif) no-repeat right bottom;}

#search div.search-inner-box { border-color: #DEDEDE; }
#search div.search-inner-box input { border-color: white;}
#search-button input { 	color: #FFF; }
#search-button { border-color: #5B6FA3 #19357A #183478 #3A5391; background: #1A377F;  }

dl.block-list dt { color: #91908B; }
dl.block-list a { color: #000 !important;}

#sidebar h3 { color: #1A377F; background: transparent url(images/sidebar-header-border.gif) no-repeat center bottom; }

#left-menu li { background: transparent url(images/sidebar-header-border.gif) no-repeat center bottom; }

#left-menu a { color: #1A377F; }
#left-menu a:hover { color: #FF6000;}
#left-menu li.selected a { color: #FF6000; background: url(images/menu-arrow.gif) no-repeat left 1.4em;}

/* Product List */
div.product-overlay { background: url(images/product-overlay.png) no-repeat;}
a.product-desc { color: #000 !important;}
a.product-desc p { color: #7F7F7F !important; }

/* Paging */
span.nav-current-page { background-color:#e8e9ec; }
div.navigation span.disabled, div.navigation span.arrow, div.navigation span.ctrl   { color:#7E7E7E;}

/* News List */
div.news-item { border-color: #E5E5E5}
div.news-date { color: #7F7F7F; }

/* Catalog List */
div.catalog-item { border-color: #E5E5E5; }
div.catalog-item-image { border-color: #ccc; }
div.catalog-item-price { background: #1A377F; color: white;}
div.catalog-item-property { border-color: #ccc;}
div.catalog-item-property b, div.catalog-item-property span { background: white; }

/* Top menu */
#horizontal-multilevel-menu li a.root-item { color:#fff; }
#horizontal-multilevel-menu li a.root-item-selected { background:#FF6000; color:#fff;} /*Root menu selected*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item { background:#346396; color:#fff; } /*Root items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover { background:#efede4; color:#fff; } /*Child-items: hover*/
#horizontal-multilevel-menu li.item-selected { background:#E6E4DB; color:#fff; } /*Child-items selected*/
#horizontal-multilevel-menu li ul { background:#F7F5EC; border-color: #CFCEC6;}
#horizontal-multilevel-menu li li { border-color: #e6e4dd;}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a
{
	color:#31312F;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a
{
	color:#31312F;
}


/*Common Elements */
div.content-form div.form-input input, div.content-form div.form-input textarea, div.content-form div.form-input select
{
	background: #F8F7F7;
	border-color: #D9D9D9;
}
div.content-form div.field-error div.form-input input, 
div.content-form div.field-error div.form-input textarea, 
div.content-form div.field-error div.form-input select
{
	color: red;
	background:	#fff8d3;
}
div.content-form div.field label.field-title { color:#1D0405; }

/* Search results*/
div.search-item, table.search-filter td { border-color: #E9E9E9;}
div.search-page input.search-query, table.search-filter input.input-field, table.search-filter select.select-field { background: #F8F7F7; border-color: #D9D9D9; }

div.search-advanced, div.search-item-meta, div.search-item-meta a { color: #8a8a8a;}
div.search-sorting b { background: #E8E9EC; }

/*Error & OK messages*/
.errortext, .starrequired { color: red;}  
.errortext, .notetext { background:#FFFEEB; border-color: #FFD482;} 